<div>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Edit post title</ng-template>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="#goa_diaries" formControlName="title" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Edit post description</ng-template>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="editPost()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel ><a routerLink="/posts">Done</a> </ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
