<div *ngIf="isOptSent; then sendingOtp else verifyOtp" class="pt-4"></div>
  <ng-template #sendingOtp >
    <p [hidden]="isOtpValid">
      <mat-form-field appearance="fill">
        <mat-label>Enter your OTP</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required minlength="6" name="otp" ngModel #OTP>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Enter 6 digit OTP here !</mat-hint>
      </mat-form-field>
    </p>
    <div [hidden]="!isOtpValid">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput
                  formControlName="password"
                  id="password"
                  type="password">
            <div *ngIf="f.password.touched && f.password.invalid">
              <mat-error *ngIf="f.password.errors.required">Password is required.</mat-error>
            </div>
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput
                  formControlName="confirm_password"
                  id="confirm_password"
                  type="password">
            <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid">
              <mat-error *ngIf="f.confirm_password.errors.required">Password is required.</mat-error>
              <mat-error *ngIf="f.confirm_password.errors.confirmedValidator">Both the password fiels should match</mat-error>
            </div>
<!--             <div *ngIf="f.password.touched && f.password.invalid">
              <mat-error >Both password fields should match </mat-error>
            </div> -->
            <!-- <mat-error *ngIf="newPassword.value !== confirmPassword.value">Both password fields should match </mat-error> -->
          </mat-form-field>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset</button>
      </form>

      </div>
    <div mat-dialog-actions>
      <button mat-button class="text-primary mx-auto" [hidden]="isOtpValid" (click)="varifyOtp(OTP.value)">
        <span>
          <mat-icon *ngIf="isPasswordUpdated"
                    aria-hidden="false"
                    aria-label="Example home icon" color="warn">check</mat-icon>
        </span>
        <span>
          Verify OTP
        </span>
      </button>
      <p *ngIf="isPasswordUpdated">Passowrd reset successful</p>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    </div> <!-- <p>{{isOptSent}}</p> -->
  </ng-template>
  <ng-template #verifyOtp >
    <mat-toolbar color="primary">Faculty ID : {{data.userAuthyId}}</mat-toolbar>
    <p>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Primary Contact No.</mat-label>
        <input matInput
              placeholder="9090123456"
              name="contact"
              ngModel
              required
              minlength="10"
              #contact>
        <mat-icon matSuffix>phone_enabled</mat-icon>
        <mat-hint>Enter only 10 digit No.</mat-hint>
      </mat-form-field>
    </p>    <!-- <p>{{contact.value}}</p> -->
    <div mat-dialog-actions>
      <button mat-button class="text-primary mx-auto" (click)="sendOtp(contact.value)">Send OTP</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    </div> <!-- <p>{{isOptSent}}</p> -->
  </ng-template>


<p *ngIf="isOptSent">

</p>
